{% extends 'cart.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block head_scripts %}
    {{ block.super }}
    <script src="{% static 'js/payment.js' %}" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <p style="display: none" class="csrf">{% csrf_token %}</p>
    {{ block.super }}
    {% block cart-col %}

    <div class="col-left">
        <table>
            <tr class="table-header">
                <th>Страва на доставку</th>
                <th>Кількість</th>
                <th class="table-header-price">Ціна</th>
            </tr>

            {% for cart_item in order_transaction.order.items.all %}
            <tr class="table-item">
                <td>
                    <h5>{{ cart_item.menu_item.title }}</h5>
                    <div class="additions">

                        {% for addition in cart_item.additions.all %}
                        <div class="addition-item">
                            <img class="addition-delete-button" data-menu-id="{{ cart_item.id }}" data-addition-id="{{ addition.id }}" src="{% static 'img/cancel.png' %}"/>
                            <p>{{ addition.title }}</p>
                        </div>
                        {% endfor %}

                    </div>
                </td>
                <td data-menu-id="{{ cart_item.id }}" class="count-box">
                    <button class="count-box-minus">-</button>
                    <p>{{ cart_item.count }}</p>
                    <button class="count-box-plus">+</button>
                </td>
                <td class="price-box-wrapper">
                    <div class="price-box">
                        <p>{{ cart_item.total_amount }}</p>
                        <img data-item-id="{{ cart_item.id }}" class="item-delete-button" src="{% static 'img/cancel.png' %}"/>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>
        <div class="table-bottom">
            <div class="table-bottom-left">
                <p>Максимальний час доставки замовлення
                    {{ delivery_time_within_city }} хвилин в межах міста / {{ delivery_time_beyond_city }} хвилин за містом.
                    Час доставки може бути збільшено,
                    про це Вас повідомить оператор.</p>
            </div>
            <div class="table-bottom-right">
                <div class="table-bottom-right-row">
                    <p class="grey">Сума:</p>
                    <p class="items-price">{{ cart.total_amount }} грн</p>
                </div>
                <div class="table-bottom-right-row">
                    <p class="grey">Вартість доставки:</p>
                    <p class="delivery-price">{{ site_settings.delivery_cost }} грн</p>
                </div>
                <div class="table-bottom-right-row">
                    <p class="grey">Разом до оплати:</p>
                    <b><p class="total-price">506 грн</p></b>
                </div>
            </div>
        </div>
        <h5 class="clear-cart-button">
            <img src="{% static 'img/cart-brown.png' %}"/>
            <p>Очистити корзину</p>
        </h5>
    </div>
    {% endblock %}
    <div class="payment-form">
        <div class="payment-form-content">
            <div class="payment-form-title">
                Оплата
            </div>
            <h3 class="payment-form-header text-color-secondary">
                {% if order_transaction.type == OrderTransactionTypes.PREPAYMENT %}
                    Для оформлення замовлення Вам необхідно оплатити предоплату <strong>{{ order_transaction.amount }} грн</strong>
                {% elif order_transaction.type == OrderTransactionTypes.FULL_PAYMENT %}
                    Оплата замовлення
                {% endif %}
            </h3>
            <div class="payment-buttons">
                <button onclick="cancelOrder();" class="reject-order-button">Скасувати замовлення</button>
                <div class="pay-order-button">
                    {{ payment_form }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}