
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 7vw;
    align-items: center;
    height: 70px;
    font-size: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.header-logo{
    position: absolute;
    left:50%;
    transform: translate(-50%);
}

.header-right-box{
    display: flex;
    align-items: center;
}


.header-right-box-instagram{
    display: flex;
    align-items: center;
    margin:0 40px;
}

.header-right-box-instagram img{
    margin-right: 10px;
}

.header-cart-button{
    background-color: #09A76D;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 2px;
}

.header-cart-button span{
    margin:0 10px;
}

@media(max-width: 1370px){
    .header-text{
        display: none;
    }
}

@media(max-width: 900px){
    .header-hours{
        display: none;
    }

    .header-logo{
        left: 60px;
    }

    .header-right-box-instagram{
        display: none;
    }
}


